body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    transition: background-color 0.3s, color 0.3s;
    font-size: 15px;
}

body.dark {
    background-color: #333;
    color: #f4f4f4;
}

.bigbar {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 100%;
}

#topnav a {
  display: inline-block;
  float: left;
  color: black;
  text-align: center;
}

.bar-item {
  padding: 10px;
  
}

.bar-item:hover {
  background-color: lightblue;
}

#sidenav {
  cursor:pointer;
}

.closebtn {
  position: absolute;
  top: 0.25;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#setting .subtitle{
  padding-left: 10px;
    font-size: 20px;
}

#setting {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  color: #818181;
}


#setting p {
  padding: 8px 8px 8px 32px;
}

#setting p:hover {
    color: #f1f1f1;
    cursor:pointer;
}